* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f8f9fa;
}

.content h1 {
  margin-bottom: 20px;
}

/* Header profil */
.profile-header {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.profile-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.avatar {
  font-size: 50px;
  color: #2f9cf4;
}

.btn-edit {
  background: #2f9cf4;
  border: none;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Card */
.profile-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
}

.profile-card h3 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Form */
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

/* Action */
.form-action {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.btn-cancel {
  background: #eaeaea;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-save {
  background: #2f9cf4;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}
.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #dee2e6;
  background: #f1f1f1;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar{
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;
  cursor:pointer;
}

