* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f7f8fa;
}

/* Layout */
.container {
  display: flex;
  min-height: 100vh;
}


.logo {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}


/* Sidebar */
.sidebar {
  width: 260px;
  background: #2f9cf4;
  color: #fff;
  padding: 25px;
}

.sidebar h3 {
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}


.sidebar li:hover,
.sidebar li.active {
  background: #2387db;
}

/* Content */
.content {
  flex: 1;
  padding: 35px;
}

.content h1 {
  margin-bottom: 20px;
}

/* Header profil */
.profile-header {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.profile-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.avatar {
  font-size: 45px;
  color: #3aa0f6;
}

/* Buttons */
.btn-edit {
  background: #3aa0f6;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Card */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
}

.card h3 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Form */
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

/* Action */
.form-action {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.btn-cancel {
  background: #f0f0f0;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-save {
  background: #3aa0f6;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}
