* {
     
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
body {
    background-color: white;
   
      
}

/* Container form */
    .container {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    /* Area gambar */
    .image-box {
    margin: auto;
    justify-content: center;
    width: 450px;
    border-radius: 10px;
    }

    .form-box {
      margin: auto;
      width: 450px;
      justify-content: center;
      align-items: center;
      background-color: rgba(200, 230, 255, 0.5); 
      padding: 40px 60px; 
      border-radius: 12px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);  
      box-sizing: 50px 6px;
    }

    h2 {
      margin-bottom: 30px;
      color: #222;
    }

    .image-box {
      margin-bottom:20px;
      text-align: left;
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 2px solid #a8d0ff;
      border-radius: 8px;
      font-size: 14px;
      outline: none;
      transition: 0.3s;
    }

    input:focus{
        border-color: #4ae259;
    }

    button {
      display: flex;
      justify-content: center;
      margin: 25px auto;
      width: 40%;
      padding: 12px;
      background-color: #4a90e2;
      border: none;
      color: #fff;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      font-size: 15px;
      justify-content: center;
    }

    button:hover {
      background-color: #357abd;
    }
