* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f5f6f8;
}

.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}


/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

/* STAT CARD */
.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.stat {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
}

.stat i {
  font-size: 26px;
}

.stat h3 {
  font-size: 22px;
}

.blue { background: #4da3ff; }
.green { background: #3ccf91; }
.red { background: #ff6b6b; }

/* TABLE */
.table-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #4da3ff;
  color: #fff;
}

th, td {
  padding: 12px;
  font-size: 14px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

/* STATUS */
.status {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
}

.status.approve { background: #3ccf91; }
.status.pending { background: #f4c430; }
.status.reject { background: #ff6b6b; }

/* ACTION */
td i {
  cursor: pointer;
  margin-right: 10px;
}

.view { color: #3aa0f6; }
.reject { color: #ff4d4d; }

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 15px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.pagination .active {
  background: #3aa0f6;
  color: #fff;
  border-color: #3aa0f6;
}
